<div class="selectedUser">
    <div *ngIf="!user" style="margin: auto;">
        <app-click-lottie></app-click-lottie>
        <p> Please select a user from the list</p>
    </div>
    
    
    <div *ngIf="user" class="userInfo">
        <div class="row innerRow gray firstRow">
            <label class="label">User Id</label>
            <p class="userData" >{{user?.id}}</p>
        </div>
        <div class="row innerRow">
            <label class="label">Name</label>
            <p class="userData" >{{user?.name }}</p>
        </div>
        
        <div class="row innerRow  gray">
            <label class="label">Username </label>
            <p  >{{user?.username}}</p>
        </div>
        <div class="row innerRow lastRow">
            <label class="label">Email</label>
            <p  >{{user?.email }}</p>
        </div>
    </div>
    
</div>

<!--<div *ngIf="user" class="photo">
        <img src="../../../assets/images/profilePhoto.png" height="30em" style="margin-bottom: 1em;">
    </div>-->
