.dashboard {
  margin-top: 2em;
  justify-content: center;
  
}



#divChart {
  margin: auto;
  width: 500px;
  height: 500px;
  
}

#divChart1 {
  margin: auto;
  width: 500px;
  height: 500px;
}


