<div class="landingPage">
    <app-landing></app-landing>
    <div class="loginForm">
        <h1 *ngIf="authService.user | async">
            Welcome User: {{ (authService.user | async) }}!
        </h1>
        <form class="inputField" action="">
            <label>Your email address</label>
            <input type="text" [(ngModel)]="email" name="email" />
            <label>Your password</label>
            <input type="password" [(ngModel)]="password" name="password" />
            <div class="buttons">
                
                <button (click)="login()" >
                    Login
                </button>
            </div>
            
        </form>
        
    </div>
</div>


