.userCard {
    padding: 1em;
    margin-bottom: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid cadetblue;
    border-radius: 10px;
    height: 4em;
    margin-inline: 2em;
}

.userCard:hover {
    
    box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 10px 0px;
}
.photo {
    margin-right: 1em;
}
