.users {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    
}

@media screen and (max-width:848px) {
    .users {
        display: flex;
        flex-direction: column-reverse;
    }
    .userList {
        align-self: center;
        width: 50vw;
        margin-top: 2em;
    }
}

.userList {
    border: 1px solid cadetblue;
    width: 30em;
    padding: 2em;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 5px;
    margin-right: 2em;
    height: 30em;
    overflow: scroll;
    overflow-x: hidden;
}

.userList::-webkit-scrollbar {
    display: none;
}


.title {
    margin-bottom: 1em;
}