.users {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    
}



.userListCard {
    position: relative;
    border: 1px solid cadetblue;
    width: 30em;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 5px;
    margin-right: 2em;
    height: 30em;
    overflow: scroll;
    overflow-x: hidden;
    
}

.userListCard::-webkit-scrollbar {
    display: none;
}

.userList {
    
}


.title {
    position:sticky;
    height: 4em;
    border-bottom: .1em solid cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;
    background-color: #E9E9E9;
    width: 100%;
    top: 0;
    left: 0;
}

@media screen and (max-width:848px) {
    .users {
        display: flex;
        flex-direction: column-reverse;
    }
    .userListCard {
        align-self: center;
        width: 22em;
        margin-top: 2em;
        margin-right: 0;
    }
}