.users {
    display: flex;
    justify-content: space-around;
    padding-top: 2em;
    
}

.userList {
    border: 1px solid cadetblue;
    height:80vh;
    overflow: scroll;
    width: 40vw;
    padding: 2em;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.selectedUser {
    
}

.title {
    margin-bottom: 1em;
}